body{
    background-image: url(../img/who\ am\ i.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
} 
.box{
    width: 880px;
    background-color: rgb(255, 251, 251);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 15px;
    text-align: center;
    opacity: 0.95;
    

    /*display: flex;
    justify-content: center;/*讓區塊水平置中*/
    /*align-items: center;/*讓區塊垂直置中*/
    /*height: 100vh; /*把的高度設為與瀏覽器視窗同高，如果沒設定這一行，垂直置中不會有作用。*/
}
.face{
   display: block;
   width: 200px;
   height: 200px;
   background-image: url(../img/飯友阿清2.png);
   background-size: cover;
   background-position: center; 
   margin-left: 345px;
   border-radius: 180px;
   text-align: center;
}
.introduce h2{
    color: rgb(165, 0, 0);
}
.FB{
    display: block;
    width: 50px;px;
    height: 50px;
    background-image: url(../img/facebook.png);
    margin-left: 350px;
    border-radius: 180px;
    background-size: cover;
    background-position: center;
}
.Gmail{
    display: block;
    width: 50px;px;
    height: 50px;
    margin-left: 60px;
    background-image: url(../img/gmail.png);
    background-size: cover;
    background-position: center; 
}
#main_menu{
    list-style: none; 
    padding: 0; 
    text-align: center;
    line-height:50px ;
    background-color: rgb(255, 251, 251);
    height: 50px;
    opacity: 0.8;
}
#main_menu li{
    display: inline-block;
}
#main_menu li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 25px;
}
#main_menu li a:hover{
    color: brown;
}